GITHUB_TOKEN=your_token
GITHUB_USERNAME=your_username
REACT_APP_SPOTIFY_CLIENT_ID=8510f9194a964e42b195817db5c41319
REACT_APP_SPOTIFY_CLIENT_SECRET=45db7ef25bd84aa2bff21cd98e62d6b0
REACT_APP_SPOTIFY_REFRESH_TOKEN=AQB60Tlq7X0rgaIIKLTRI3MBno1k5c0QHsmajhn9PBORKvoSMK2sH1GLiTuhXvAwOZMAF0n6LRudyFD19cukAryAJDdPnk4HvREpPVJyxytYCT8-L2z62c6CoNM-Ut7ASvc-2ttXkOawoqDeXvohy1Gt_joFxzeDUE2Qz-t8kfoxxK-DlDWZsDltqarD4tKP0xHDuvdzJZE82XlOphK7-BnFzbKlL6Kng1qXMacHshX_rseRGlGXuy1QZqQP1UNPbp5PC-J